*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: blue;
  color: #fff;
  height: 60px;
  text-align: center;
  margin-top: 20px
}
header ul li a{
  color:#fff
}

footer{
  text-align: center;
  color: #fff;
  background-color: black;
  height: 20px;
  font-size: 10px;
  padding-top: 5px
}
h4{
  color:darkred
}
section{
  text-align: center;
  margin-top: 20px;
}